{{> layout}}

<body>
    {{!-- --}}
    {{> header}}


    <section>
        <div class="wrapper-text">
            <p>Debes escanear el código qr con el whatsapp que deseas vincular para responder los mensajes (BOT)</p>
        </div>
        <div class="wrapper-qr">
            <div class="inside-image">
                <img src="qr-code.svg" alt="">
            </div>
        </div>
        <div class="wrapper-text">
            <p><b>NOTA:</b> si tienes problema al momento de escanear <a href="/ws">actualiza</a>
                la página recuerda que el código qr tiene una validez de 1 min de lo contrario se genera un nuevo código
            </p>
        </div>

    </section>


    {{!-- --}}
    {{> footer}}
</body>

</html>