<header class="section-header animate__animated animate__fadeInDown">
    {{!-- Here's where the site navigation will go --}}
    <nav>
        <ul class="nav-list">
            <li><a href="/">Inicio</a></li>
        </ul>

        <div class="title">
            E-Learning
        </div>

        <ul class="nav-list">
            <li><a href="/">Home</a></li>
        </ul>

    </nav>
</header>